beautifulsoup4
crawl4ai
croniter
html2text
ollama
openai
openpyxl
pandas
playwright
plotly
PyMySQL
python-dotenv
Requests
schedule
selenium
SQLAlchemy>=2.0
streamlit
tiktoken
validators
webdriver_manager
tabulate
